In [15]:
import pandas as pd

dataset = pd.read_csv('datasets/Salaries.csv')
#head = dataset.heead()

dataset

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [5]:
info = dataset.info()

print (info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB
None

In [ ]:
over_max = dataset['OvertimePay'].max()

print(over_max)

In [20]:
job_title = dataset[dataset["EmployeeName"] == "JOSEPH DRISCOLL"]["JobTitle"]

print (job_title)

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [21]:
total_earn = dataset[dataset["EmployeeName"] == "JOSEPH DRISCOLL"]["TotalPayBenefits"]

print (total_earn)

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [31]:
richest = dataset[dataset['TotalPayBenefits'] == dataset['TotalPayBenefits'].max()]['EmployeeName']

print(richest)

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [39]:
poorest = dataset[dataset['TotalPayBenefits'] == dataset['TotalPayBenefits'].min()]['EmployeeName']

print(poorest)

data = pd.read_csv("datasets/Salaries.csv", index_col ="EmployeeName")
  
rows = data.loc["Joe Lopez"]
  
print(rows)
# he is in debt

148653    Joe Lopez
Name: EmployeeName, dtype: object
Id                                      148654
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                   0.0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: Joe Lopez, dtype: object

In [44]:
avarage = dataset['BasePay'].mean()

print(avarage)

66325.4488404877
Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [43]:
unique = dataset["JobTitle"].nunique()
print(unique)

2159

In [55]:
item_counts = dataset["JobTitle"].value_counts()
print(item_counts)

Transit Operator                                  7036
Special Nurse                                     4389
Registered Nurse                                  3736
Public Svc Aide-Public Works                      2518
Police Officer 3                                  2421
                                                  ...
CHIEF HOUSING INSPECTOR                              1
TRAFFIC SIGNAL OPERATOR                              1
COURT COMPUTER FACILITIES COORDINATOR                1
AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I       1
VICTIM & WITNESS TECHNICIAN                          1
Name: JobTitle, Length: 2159, dtype: int64

In [75]:

column = (dataset[dataset['Year'] == 2013]['JobTitle'].value_counts() == 1)
column.count()

1051